.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
    margin: auto;
    width: 350px;
    height: 400px;
  background: #ffffff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.32);
}
.card p {
  margin: 6px 0;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.card > img{
    width: 100%;
    height: 50%;
}